#map{
  height: 470px;
  width: 100%;
  background: rgba(63, 42, 42, 0.9);
}
.group{
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}
.formulario__input{
  width: 500px;
  height: 40px;
  font-size: 20px;
  border: 1;
  background: rgba(0, 0, 0, 0.2);
  color: black;
}
.formulario__titulo,.formulario__label{
  text-align: center;
margin-top: 0;
color: rgba(0, 0, 0, 0.7);

}